<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>777223311840-p4r11c1a6ie010hicqbj139se1dj4578.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777223311840-p4r11c1a6ie010hicqbj139se1dj4578</string>
	<key>API_KEY</key>
	<string>AIzaSyDVqq3zXDCfH4_KqATyo7XlZxS4zL8YVi0</string>
	<key>GCM_SENDER_ID</key>
	<string>777223311840</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hmmrdapp.hmmrd</string>
	<key>PROJECT_ID</key>
	<string>hmmrd-3945c</string>
	<key>STORAGE_BUCKET</key>
	<string>hmmrd-3945c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:777223311840:ios:b13ab7a3987f4708</string>
	<key>DATABASE_URL</key>
	<string>https://hmmrd-3945c.firebaseio.com</string>
</dict>
</plist>